@import '../ui/colors';
.header {
    width: 100%;
    display: flex;
    justify-content: end;
}

.label-wrapper {
    position: relative;
}

// ! Сделать .label по центру сердечка
.label {
    color: getColor('bgButton');
    position: absolute;
    right: 13.8px;
    top: 3px;
    font-weight: 700;
    font-size: 25px;
}