@import './ui/colors';
@import './components/RecipeItem.scss';
@import './components/Header.scss';
@import './components/CreateRecipeForm.scss';
* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 10px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: getColor('text');
    background-color: getColor('background');
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-size: 18px;
    font-weight: 500;
    color: getColor('text');
}

.section-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    cursor: pointer;
    color: #fff;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: getColor('background');
    cursor: pointer;
    transition: border-color 0.25s;
    &:hover {
        border-color: getColor('buttonBorder');
    }
}

input {
    padding: 13px 18px;
    margin: 5px;
    outline: none;
    background-color: rgb(78, 75, 75);
    border: none;
    color: rgba(255, 255, 255, 0.87);
    border-radius: 10px;
    font-size: 18px;
}